@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Arial";
    src: url("/fonts/arial.ttf") format("ttf");
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-30;
}

.text-md {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
